click==6.7
Flask==0.12.2
Flask-WTF==0.14.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
nltk==3.3
numpy==1.15.4
py4j==0.10.8.1
python-crfsuite==0.9.6
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
sklearn==0.0
sklearn-crfsuite==0.3.6
tabulate==0.8.2
tqdm==4.28.1
twitter==1.18.0
Werkzeug==0.15.3
WTForms==2.1
