<html>
	<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'  type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
		{% if title%}
		<title>	{{title}} - QAG </title>
		{% else %}
		<title> QAG </title>
		{% endif %}
	</head>
	<body>
		{% block content %}
		{% endblock %}
        {% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li> {{message}} </li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
	</body>
</html>