<html>
	<head> 
		{% if title%}
		<title>	{{title}} - DS Aelvyn </title>
		{% else %}
		<title> Welcome to Our Homepage </title>
		{% endif %}
	</head>
	<body>
		<div> 
			DS Aelvyn: 
			<a href="{{ url_for('index') }}"> Home </a>
			<a href="{{ url_for('login') }}"> Login </a>
			<a href="{{ url_for('twittercrawl') }}"> Crawl </a>
		</div>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li> {{message}} </li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %}
		{% endblock %}
	</body>
</html>