{% extends "base.html" %}

{% block content %}
    <div class="jumbotron text-center">
        <h1 class="qag-title">Automatic Question-Answer Pairs Generation from Text</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
                <h3 class="qag-passage-label text-lowercase">{{ form.passage.label }}</h3>
                <div>{{ form.passage(class_="qag-passage-input", rows=10, cols=100, placeholder="Please fill me :)") }}</div>
                {% for error in form.passage.errors %}
                    <p style="color: red;"> {{ error }} </p>
                {% endfor %}
            <p> {{ form.submit(class_="qag-passage-label qag-passage-button text-lowercase btn") }} </p>
        </form>
    </div>
{% endblock %}